@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: __inter_f90a72;
  src: url(./font/d080ae18fd04e52c-s.p.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: __inter_f90a72;
  src: url(./font/242d04bef81519ae-s.p.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: __inter_f90a72;
  src: url(./font/242d04bef81519ae-s.p.woff2) format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: __inter_f90a72;
  src: url(./font/0c8fa6f6520a9851-s.p.woff2) format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: __inter_f90a72;
  src: url(./font/11d5bc9f0cad36d1-s.p.woff2) format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: __rubik_1098a8;
  src: url(./font/0792b265ea59fcde-s.p.woff2) format('woff2');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: __rubik_1098a8;
  src: url(./font/9fcbb99e3b84bd35-s.p.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: __rubik_Fallback_1098a8;
  src: local('Arial');
  ascent-override: 91.09%;
  descent-override: 24.36%;
  line-gap-override: 0%;
  size-adjust: 102.64%;
}
@font-face {
  font-family: __inter_Fallback_f90a72;
  src: local('Arial');
  ascent-override: 89.79%;
  descent-override: 22.36%;
  line-gap-override: 0%;
  size-adjust: 107.89%;
}

.font1 {
  font-family: __inter_f90a72, __inter_Fallback_f90a72;
}
.font2 {
  font-family: __rubik_1098a8, __rubik_Fallback_1098a8;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 1s ease-in-out;
  height: 100dvh;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100%;
  overflow: hidden;
}

.main .wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  color: #322e48;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 25rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block-end: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.main .wrapper header {
  z-index: 3;
  padding: 1.2rem 0.5rem 0.5rem 1.25rem;
  transition: background-color 1s ease-in-out;
  margin-inline: -1rem;
}

.h1 {
  font-size: 1.625rem;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  -webkit-margin-after: 1.75rem;
  margin-block-end: 1.75rem;
  letter-spacing: 0.36px;
  max-inline-size: 325px;
  margin-inline: auto;
}

.h2 {
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  -webkit-margin-after: 0.5rem;
  margin-block-end: 0.5rem;
  letter-spacing: 0.36px;
  max-inline-size: 325px;
  margin-inline: auto;
}

.h21 {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.36px;
  max-inline-size: 325px;
  margin-inline: auto;
}

.p1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  margin-block-end: 1.3rem;
  margin-inline: auto;
}

.p2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #a19ebe;
  margin-block-end: 2.5rem;
  max-inline-size: 325px;
  margin-inline: auto;
}

.p3 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  -webkit-margin-after: 2.25rem;
  margin-block-end: 2.25rem;
  letter-spacing: -0.025em;
  max-inline-size: 250px;
  margin-inline: auto;
}

.a1 {
  color: #3198ff;
  font-size: inherit;
  font-style: inherit;
  text-decoration: underline;
}

.btn1 {
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 1rem;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1.0375;
  transition: all 0.2s ease-out;
}

.btn2 {
  border: none;
  background-color: #3a7968;
  color: #fff;
  border-radius: 0.875rem;
  inline-size: 100%;
  padding: 0.875rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 -1rem 3rem 1.5rem #fff, 0 1rem 1rem 1.5rem #fff;
}

.btn3 {
  font-size: 1rem;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: currentColor;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  padding: 1.125rem 1rem;
  background-color: #fff;
  border: 1px solid transparent;
  text-align: start;
  inline-size: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.2s ease-out;
}

.btn3:disabled {
  cursor: not-allowed;
}

.btn3:active {
  transform: scale(0.95);
}

/* .btn3 .icon {
  
} */

.btn3 * {
  pointer-events: none;
}

.btn3 span:not(.style_icon__FyelZ) {
  line-height: 1.5rem;
}

.btn3 .icon {
  font-size: 2.25rem;
}

.btn3[aria-current='true'] {
  border: 1px solid #3a7968;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.btn3:focus-visible {
  outline: 2px solid #3a7968;
}

.btn3 + .btn3 {
  -webkit-margin-before: 0.75rem;
  margin-block-start: 0.75rem;
}

.inter {
  font-family: 'Inter', serif;
  font-style: normal;
}

.img1 {
  display: block;
  max-block-size: 42dvh;
  margin-inline: auto;
  object-fit: contain;
}

.description {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  background: #fef7e0;
  border: 1px solid #f9cf8b;
  border-radius: 0.625rem;
  padding: 0.75rem 0.8rem;
}

.end-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 2rem;
  padding-inline: 1.25rem;
  height: 100%;
}

.end-screen img {
  margin-block-end: .75rem;
}

.end-screen h2 {
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 700;
  color: #3a7968;
  text-align: start;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  letter-spacing: .36px;
}

.end-screen p {
  line-height: 1.5rem;
  letter-spacing: -.025em;
}

.checkbox input[type=checkbox] {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #3a7968;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  border: .125rem solid #3a7968;
  border-radius: .375rem
}

.checkbox input[type=checkbox]:focus-visible {
  outline: 2px solid #3a7968
}

.checkbox input[type=checkbox]:checked {
  background-color: #3a7968;
  color: #fff
}

.checkbox input[type=checkbox]:before {
  content: "✓";
  color: #fff;
  transform: scale(0);
  transform-origin: center;
  transition: transform .15s ease-in-out
}

.checkbox input[type=checkbox]:checked:before {
  transform: scale(1)
}
